<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/overdue.css">
    <title>Overdue Items</title>
</head>
<body>
    <div class="container">
        <h1>Overdue Items</h1>

        <div class="report">
            <table id="overdue-items-table">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Item Name</th>
                        <th>Check-out Date</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <script src="/public/javascripts/overdueItems.js"></script>
</body>
</html>
