<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/stylesheets/signup.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <div class="wrapper">
    <h1>Sign Up</h1><br>
    <% if (typeof success !== 'undefined') { %>
        <div class="success-message"><%= success %></div>
    <% } %>
    <form action="/signup" method="POST" id="signupForm">
      <input type="text" name="firstname" placeholder="First Name" required autocomplete="off">
      <input type="text" name="lastname" placeholder="Last Name" required autocomplete="off">
      <input type="text" name="email" placeholder="Email" required autocomplete="off">
      <input type="password" id="password" name="password" placeholder="Password" required>
      <input type="password" id="confirmPassword" name="confirmpassword" placeholder="Confirm Password" required>
      <span id="passwordError" class="error"></span><br>
      <button type="submit" id="signup-btn">Sign up</button>
    </form>
  </div>
  <script src="/javascripts/signup.js"></script>
</body>
</html>
