<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textbook Details</title>
    <link rel="stylesheet" href="/stylesheets/books.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="textbook-image">
                <img src="/images/book9.jpg" alt="Textbook Image">
            </div>
            <div class="textbook-description">
                <h2>Mastering Chemistry Practicals</h2>
                <div class="description-container">
                    <p>This textbook provides explanations of fundamental ideas, pointers for correct data collection and analysis, and step-by-step directions for conducting chemistry experiments.</p>
                    <p>Textbook ID: 356801</p>
                    <p>Author: Daniel Njoroge</p>
                    <p>Barcode: 9966223746436</p>
                   
                </div>
            </div>
        </div>
        <div class="checkin-buttons">
            <a class="checkin-button" href="/checkout">Check Out</a>
            <a class="cancel-button" href="/checkin">Check in</a>
        </div>
    </div>
</body>
</html>
