<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textbook Details</title>
    <link rel="stylesheet" href="/stylesheets/books.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="textbook-image">
                <img src="/images/book8.jpg" alt="Textbook Image">
            </div>
            <div class="textbook-description">
                <h2>Upeo wa Insha</h2>
                <div class="description-container">
                    <p>Mwongozo huu unawezesha wanafunzi kupata ujuzi na mbinu zinazohitajika kuandika insha zenye ufanisi kwa kutoa mifano, vidokezo, na mazoezi ya vitendo ili kuimarisha uwezo wao wa kuandika.</p>
                    <p>Textbook ID: 829471</p>
                    <p>Author: Simon Ngige</p>
                    <p>Barcode: 9789966334284</p>
                   
                </div>
            </div>
        </div>
        <div class="checkin-buttons">
            <a class="checkin-button" href="/checkout">Check Out</a>
            <a class="cancel-button" href="/checkin">Check in</a>
        </div>
    </div>
</body>
</html>
