<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textbook Details</title>
    <link rel="stylesheet" href="/stylesheets/books.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="textbook-image">
                <img src="/images/book3.jpg" alt="Textbook Image">
            </div>
            <div class="textbook-description">
                <h2>A+ Revision KCSE Computer Studies</h2>
                <div class="description-container">
                    <p>This textbook includes practical exercises, case studies, and exam-style questions to help students excel in the KCSE Computer Studies examination.</p>
                    <p>Textbook ID: 392047</p>
                    <p>Author: H. Otiende</p>
                    <p>Barcode: 9789966360854</p>
                   
                </div>
            </div>
        </div>
        <div class="checkin-buttons">
            <a class="checkin-button" href="/checkout">Check Out</a>
            <a class="cancel-button" href="/checkin">Check in</a>
        </div>
    </div>
</body>
</html>
