<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textbook Details</title>
    <link rel="stylesheet" href="/stylesheets/books.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="textbook-image">
                <img src="/images/book5.jpg" alt="Textbook Image">
            </div>
            <div class="textbook-description">
                <h2>Top Mark Computer Studies</h2>
                <div class="description-container">
                    <p>This textbook covers the principles of computer studies, including hardware, software, programming, and applications which aids in preparing students for examinations.</p>
                    <p>Textbook ID: 674319</p>
                    <p>Author: Kenya Literature Bureau</p>
                    <p>Barcode: 9789974730854</p>
                   
                </div>
            </div>
        </div>
        <div class="checkin-buttons">
            <a class="checkin-button" href="/checkout">Check Out</a>
            <a class="cancel-button" href="/checkin">Check in</a>
        </div>
    </div>
</body>
</html>
