<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Textbook Details</title>
    <link rel="stylesheet" href="/stylesheets/books.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="textbook-image">
                <img src="/images/book11.jpg" alt="Textbook Image">
            </div>
            <div class="textbook-description">
                <h2>Solving Problems Mathematics</h2>
                <div class="description-container">
                    <p>This mathematics textbook presents difficult problems, methods for solving them, and practice problems to help students become proficient in mathematics and critical thinkers.</p>
                    <p>Textbook ID: 890461</p>
                    <p>Author: C. Muturi</p>
                    <p>Barcode: 978966496539</p>
                   
                </div>
            </div>
        </div>
        <div class="checkin-buttons">
            <a class="checkin-button" href="/checkout">Check Out</a>
            <a class="cancel-button" href="/checkin">Check in</a>
        </div>
    </div>
</body>
</html>
