@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: #dfe9f5;
  background-image: url(/images/image1.jpg);
  background-size: cover;
}

.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left-text {
  margin-right: 80px;
  color: #007bff;
  width: 50%;
}
.login-content {
  text-align: center;
}
.login-content h2 {
  margin-bottom: 20px;
  color: #333;
}
.input-field {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
#signin-btn {
  background-color: orangered;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#signin-btn:hover {
  background-color: red;
}
.not-member {
  margin-top: 20px;
  color: #666;
}
.not-member a {
  color: red;
  text-decoration: none;
}
.not-member a:hover {
  text-decoration: underline;
}

.wrapper{
  width: 330px;
  padding: 2rem 0 1rem 0;
  margin: 100px auto;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
h1{
  font-size: 2rem;
  color: #07001f;
}
p{
  margin-bottom: 1.7rem;
}
form input{
  width: 85%;
  outline: none;
  border: none;
  background: #dfe9f5;
  padding: 12px 14px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.recover{
  text-align: right;
  font-size: 0.8rem;
  margin: 0.2rem 1.7rem 0 0;
}
.recover a{
  text-decoration: none;
  color: #07001f;
}

.or{
  font-size: 0.8rem;
  margin-top: 1.5rem;
}